<div class="container">
    <p class="title">Let's<br>mokmok!</p>
    
    <a href="https://slack.com/oauth/authorize?scope=identity.basic identity.team identity.avatar&client_id=448569467826.450449244064&redirect_uri=https://mokmok-aldytsukasa.c9users.io/signin_with_slack"><p class="signinBtn" style="text-align: center;">SIGN IN</p></a>
</div>

<style>
    .title {
        margin-top: 30px;
        text-align:center;
        font-size:  200px;
        color: #FF5722;
        font-weight: bold;
        font-family: "YakuHanJPsLight", "proxima-nova", "a-otf-midashi-go-mb31-pr6n", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
    }
    .signinBtn {
        font-size: 50px;
        padding: 15px;
        color: white;
        background-color: #FF5722;
        margin: 0 10%;
    }
</style>